@charset "utf-8";


#super-div{
    width: 100%;
    height: 100%;
}

#search-div{
    margin-top: 60px;
    margin-left: 5%;
    text-align: center;
    text-indent: 100px;
}

#input-tag{
    width: 55%;
    height: 40px;
    border-radius: 30px;
    border: 1px solid black;
    padding-left: 10px;
}

#img-div{
    overflow: hidden;
    margin-top: 30px;
    margin-left: 40px;
    border-radius: 10%;
}

.middle-div{
    display: flex;
    justify-content: flex-start;
}

#kakao-map{
    position: absolute;
    right: 0;
    margin-right: 30px;
    border: 1px solid lightgray;
}

header{
    height: 540px;
    margin-top: 0;
    background-color:beige;
}

.articles{
    width: 200px;
    height: 250px;
}
/* 
.article-text{
    margin-left: 20px;
} */