leftHeader nav {
    position : fixed;
    top: 0;
    left: 0;
    height: 100%;
    width:120px;
    font-weight: 800;
    line-height: 0%;
    --text-color: #FFFFFF;
}

leftHeader nav a {
    text-decoration: none;
    font-size:22px;
    color: var(--text-color);
}

leftHeader a:hover{
    color: #5f5
}
  
leftHeader .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(290deg, #99CCFF, #5599ff);
    padding: 8px 12px;
}

#profile-icon{
    margin-top: 50%;
    margin-left: 20px;
}

#profile-icon img{
    margin-left: 15px;
}

#home-button{
    margin-top: 100%;
    margin-left: 20px;
}

#home-button img{
    margin-left: 15px;
}

#plan-button{
    margin-top: 50%;
    margin-left: 20px;
}

#plan-button img{
    margin-left: 15px;
}

#map-button{
    margin-top: 50%;
    margin-left: 20px;
}

#map-button img{
    margin-left: 20px;
}

#scrap-button{
    margin-top: 50%;
    margin-left: 20px;
}

#scrap-button img{
    margin-left: 15px;
}