@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	

html {
  border-top: 5px solid #fff;
  color: #2a2a2a;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

h1 {
  color: #fff;
  text-align: center;
  font-weight: 300;
}

#slider {
  left: 4%;
  top: 20px;
  position: relative;
  overflow: hidden;
  margin: auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 60%;
  height: 450px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 45%;
  z-index: 999;
  display: block;
  padding: 2% 2%;
  margin: 10px;
  width: 3px;
  height: 3px;
  background: #fff;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  opacity: 0.8;
  cursor: pointer;
  border-radius: 100% !important;
}

a.control_prev > img, a.control_next > img {
  position: absolute;
  top: 15px;
  left: 15px;
  /* margin: auto; */
}

a.control_prev > img{
  transform: rotate(180deg);
}


a.control_prev:hover, a.control_next:hover {
  opacity: 1;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 30px auto;
  width: 160px;
  font-size: 18px;
}