@charset "utf-8";

main{
  margin-left: 150px;
  box-sizing: border-box;
}

#kakao-map{
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 41%;
  border: 1px solid lightgray;
}

.plan_choose{
  margin-left: 20px;
}

.plan_list ul{
  list-style: none;
}

.plan_name {
  display: flex;
  align-items: center;
}

.plan_name h1{
  margin-right: 20px;
}

.plan_name a{
  width: 30px;
  height: 20px;
}