@charset "utf-8";
p strong {
    border: 1px solid blue;
}
input[type='text'] {
    border: 1px solid blue;
}
input[type='password'] {
    border: 1px dashed red;
}
h1 {
    border: 1px solid blue;
}
h1:hover { 
    /*마우스 올리면 색 변함*/
    border: 1px solid red;
}
article h1 {
    font-size: 60px;
    font-family: "arial";
    color: red;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1px;
    width: 100px; /*px는 위치 고정*/
    height: 100px;
    background-color: #888;
}
article p {
    font-size: 2rem;
    font-family: 'arial';
    color: #ff0000;
    line-height: 1.5;
    text-align: right;
    letter-spacing: 5px;
    width: 20%; /*%는 웹 브라우저 크기가 변할때마다 body 태그 기준으로 변환*/
    height: 20%;
}
article a {
    font-size: 15px;
    font-family: 'serif';
    color: rgb(25, 100, 20);
    text-align: left;
    letter-spacing: 20px;
    width: 10vw; /*vw는 웹브라우저 크기를 기준으로 백분율 계산하여 변환*/
    height: 10vh;
}